<h1>Welcome to {{ hotelName }}</h1>

<div [hidden]="hideRooms">
  Number of Rooms:
  <h2
    [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
    [innerText]="numberOfRooms"
  ></h2>
</div>
<!-- {{roomList | json}} -->
{{ rooms?.availableRooms ?? "No Room" }}

<div *ngIf="selectedRoom">
  {{ selectedRoom | json}}
</div>

<div (click)="addRoom()" class="btn btn-primary">
  Add Room
</div>

<div *ngIf="rooms.availableRooms > 0">
  <!-- [rooms] คือตัวรับของลูก "roomList" คือตัวส่งขอแม่-->
  <!-- $event this event which will recieved from child -->
<hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="toggle()">toggle</button>
